# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞ –∑–∞ –π–æ–≥–æ –Ω–æ–º–µ—Ä–æ–º** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î –≤ —Ç–∞–±–ª–∏—Ü—ñ)

–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ, —è–∫—â–æ –≤–∞–º —Ö–æ—á–µ—Ç—å—Å—è –±—ñ–ª—å—à–µ –ø—Ä–∞–∫—Ç–∏–∫–∏:
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä. –ù–µ –∑–∞–±—É–¥—å—Ç–µ –Ω–∞ –ø–æ—á–∞—Ç–∫—É –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —á–∏ —ñ—Å–Ω—É—î –∫–ª—ñ—î–Ω—Ç –∑ —Ç–∞–∫–∏–º –Ω–æ–º–µ—Ä–æ–º –≤ –±–∞–∑—ñ - —Ü–µ —Ö–æ—Ä–æ—à–∞ –ø—Ä–∞–∫—Ç–∏–∫–∞.

–û—Ç—Ä–∏–º–∞—Ç–∏ –≤—Å—ñ –∫–æ–ª–æ–Ω–∫–∏, —è–∫—ñ —ñ—Å–Ω—É—é—Ç—å –≤ —Ç–∞–±–ª–∏—Ü—ñ –≤–∏ –º–æ–∂–µ—Ç–µ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –∑–∞–ø–∏—Ç–æ–º
```
  SELECT COLUMN_NAME, DATA_TYPE
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'customers'
```

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [1]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [2]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3307/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3307/classicmodels)

In [3]:
with engine.begin() as conn:
    rows = conn.execute(text("""
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = 'customers'
        ORDER BY ordinal_position
    """)).all()
rows

[('customerNumber', 'int'),
 ('customerName', 'varchar'),
 ('contactLastName', 'varchar'),
 ('contactFirstName', 'varchar'),
 ('phone', 'varchar'),
 ('addressLine1', 'varchar'),
 ('addressLine2', 'varchar'),
 ('city', 'varchar'),
 ('state', 'varchar'),
 ('postalCode', 'varchar'),
 ('country', 'varchar'),
 ('salesRepEmployeeNumber', 'int'),
 ('creditLimit', 'decimal')]

In [18]:
def update_customer_contact(
    engine,
    customer_number: int,
    phone: str | None = None,
    email: str | None = None,
    log_changes: bool = True
) -> str:
 
    if phone is None and email is None:
        return "–ù—ñ—á–æ–≥–æ –æ–Ω–æ–≤–ª—é–≤–∞—Ç–∏: –Ω–µ –ø–µ—Ä–µ–¥–∞–Ω–æ phone/email."

    with engine.begin() as conn:

        exists = conn.execute(
            text("SELECT 1 FROM customers WHERE customerNumber = :cid LIMIT 1"),
            {"cid": customer_number}
        ).fetchone()
        if not exists:
            return f"–ö–ª—ñ—î–Ω—Ç–∞ –∑ –Ω–æ–º–µ—Ä–æ–º {customer_number} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ."


        set_parts = []
        params = {"cid": customer_number}

        if phone is not None:
            set_parts.append("phone = :phone")
            params["phone"] = phone

        email_col_present = _column_exists(conn, "customers", "email")
        if email is not None and email_col_present:
            set_parts.append("email = :email")
            params["email"] = email
            
        if email is not None and not email_col_present:
            return "–ö–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è —É —Ç–∞–±–ª–∏—Ü—ñ, –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–µ–º–æ–∂–ª–∏–≤–µ."


        if not set_parts:
            return "–ù–µ–º–∞—î –ø–æ–ª—ñ–≤ –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è (–π–º–æ–≤—ñ—Ä–Ω–æ, –∫–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è)."


        upd_sql = text(f"UPDATE customers SET {', '.join(set_parts)} WHERE customerNumber = :cid")
        result = conn.execute(upd_sql, params)
        updated = result.rowcount

        return f"–û–Ω–æ–≤–ª–µ–Ω–æ —Ä—è–¥–∫—ñ–≤: {updated}"

In [21]:
cid = 103 
with engine.begin() as conn:
    print(conn.execute(
        text("SELECT customerNumber, customerName, phone FROM customers WHERE customerNumber = :cid"),
        {"cid": cid}
    ).mappings().all())


print(update_customer_contact(engine, customer_number=cid, phone="+380 44 123 45 67", email="test@example.com"))

[{'customerNumber': 103, 'customerName': 'Atelier graphique', 'phone': '+380 44 123 45 67'}]
–ö–æ–ª–æ–Ω–∫–∞ email –≤—ñ–¥—Å—É—Ç–Ω—è —É —Ç–∞–±–ª–∏—Ü—ñ, –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –Ω–µ–º–æ–∂–ª–∏–≤–µ.

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [23]:
from datetime import date

def create_order_transaction(
    engine,
    customer_number: int,
    items: list[dict],
    order_date: date | None = None,
    required_date: date | None = None,
    comments: str | None = None,
    status: str = "In Process",
) -> int:
    
    if not items:
        raise ValueError("–°–ø–∏—Å–æ–∫ items –ø–æ—Ä–æ–∂–Ω—ñ–π.")

    for i, it in enumerate(items, start=1):
        if not {"productCode", "quantityOrdered", "priceEach"} <= set(it):
            raise ValueError(f"Item #{i} –º–∞—î –±—É—Ç–∏ –∑ –∫–ª—é—á–∞–º–∏ productCode, quantityOrdered, priceEach")
        if it["quantityOrdered"] <= 0 or it["priceEach"] <= 0:
            raise ValueError(f"Item #{i} –º–∞—î –¥–æ–¥–∞—Ç–Ω—ñ quantityOrdered —Ç–∞ priceEach")

    odt = order_date or date.today()
    rdt = required_date or odt

    with engine.begin() as conn:

        new_order_number = conn.execute(text("""
            SELECT COALESCE(MAX(orderNumber), 0) + 1 AS next_id
            FROM orders
            FOR UPDATE
        """)).scalar_one()


        conn.execute(text("""
            INSERT INTO orders
                (orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber)
            VALUES
                (:orderNumber, :orderDate, :requiredDate, NULL, :status, :comments, :customerNumber)
        """), {
            "orderNumber": new_order_number,
            "orderDate": odt,
            "requiredDate": rdt,
            "status": status,
            "comments": comments,
            "customerNumber": customer_number,
        })

        line_no = 0
        for it in items:
            code = it["productCode"]
            qty  = int(it["quantityOrdered"])
            price = float(it["priceEach"])

            row = conn.execute(text("""
                SELECT productCode, quantityInStock
                FROM products
                WHERE productCode = :code
                FOR UPDATE
            """), {"code": code}).mappings().first()

            if row is None:
                raise ValueError(f"–ü—Ä–æ–¥—É–∫—Ç {code} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–æ.")

            if row["quantityInStock"] < qty:
                raise ValueError(
                    f"–ù–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ –∑–∞–ø–∞—Å—É –¥–ª—è {code}: –ø–æ—Ç—Ä—ñ–±–Ω–æ {qty}, –Ω–∞ —Å–∫–ª–∞–¥—ñ {row['quantityInStock']}"
                )

            conn.execute(text("""
                UPDATE products
                SET quantityInStock = quantityInStock - :qty
                WHERE productCode = :code
            """), {"qty": qty, "code": code})

            line_no += 1
            conn.execute(text("""
                INSERT INTO orderdetails
                    (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                VALUES
                    (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
            """), {
                "orderNumber": new_order_number,
                "productCode": code,
                "quantityOrdered": qty,
                "priceEach": price,
                "orderLineNumber": line_no,
            })
        return new_order_number

In [24]:
test_items = [
    {"productCode": "S10_1678", "quantityOrdered": 3, "priceEach": 95.00},
    {"productCode": "S12_1108", "quantityOrdered": 2, "priceEach": 120.00},
]

new_ord = create_order_transaction(
    engine=engine,
    customer_number=103,
    items=test_items,
    comments="Test order via SQLAlchemy txn"
)
print("–°—Ç–≤–æ—Ä–µ–Ω–æ orderNumber:", new_ord)

with engine.begin() as conn:
    print(conn.execute(text("""
        SELECT orderNumber, orderDate, status, customerNumber, comments
        FROM orders
        WHERE orderNumber = :n
    """), {"n": new_ord}).mappings().all())

with engine.begin() as conn:
    print(conn.execute(text("""
        SELECT orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber
        FROM orderdetails
        WHERE orderNumber = :n
        ORDER BY orderLineNumber
    """), {"n": new_ord}).mappings().all())

codes = tuple(i["productCode"] for i in test_items)
placeholders = ",".join([f":c{i}" for i in range(len(codes))])
params = {f"c{i}": code for i, code in enumerate(codes)}

with engine.begin() as conn:
    print(conn.execute(text(f"""
        SELECT productCode, quantityInStock
        FROM products
        WHERE productCode IN ({placeholders})
        ORDER BY productCode
    """), params).mappings().all())

–°—Ç–≤–æ—Ä–µ–Ω–æ orderNumber: 10426
[{'orderNumber': 10426, 'orderDate': datetime.date(2025, 9, 22), 'status': 'In Process', 'customerNumber': 103, 'comments': 'Test order via SQLAlchemy txn'}]
[{'orderNumber': 10426, 'productCode': 'S10_1678', 'quantityOrdered': 3, 'priceEach': Decimal('95.00'), 'orderLineNumber': 1}, {'orderNumber': 10426, 'productCode': 'S12_1108', 'quantityOrdered': 2, 'priceEach': Decimal('120.00'), 'orderLineNumber': 2}]
[{'productCode': 'S10_1678', 'quantityInStock': 7930}, {'productCode': 'S12_1108', 'quantityInStock': 3617}]