# Домашнє завдання: Внесення оновлень в БД і робота з транзакціями

Це ДЗ передбачене під виконання на локальній машині. Виконання з Google Colab буде суттєво ускладнене.

## Підготовка
1. Переконайтесь, що у вас встановлены необхідні бібліотеки:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. Створіть файл `.env` з параметрами підключення до бази даних classicmodels. Базу даних ви можете отримати через

  - docker-контейнер згідно існтрукції в [документі](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), також відео інструкції присутні на платформі - уроки "MySQL бази, клієнт для роботи з БД, Docker і ChatGPT для запитів" та "Як встановити Docker для роботи з базами даних без терміналу"
  - або встановивши локально цю БД - для цього перегляньте урок "Опціонально. Встановлення MySQL та  БД Сlassicmodels локально".
  
  Приклад `.env` файлу ми створювали в лекції. Ось його обовʼязкове наповнення:
    ```
    DB_HOST=your_host
    DB_PORT=3306 або 3307 - той, який Ви налаштували
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  Якщо ви створили цей файл під час перегляду лекції - **новий створювати не треба**. Замініть лише назву БД, або пропишіть назву в коді створення підключення (замість отримання назви цільової БД зі змінних оточення). Але переконайтесь, що до `.env` файл лежить в тій самій папці, що і цей ноутбук.

  **УВАГА!** НЕ копіюйте скрит для **створення** `.env` файлу. В лекції він наводиться для прикладу. І давалось пояснення, що в реальних проєктах ми НІКОЛИ не пишемо доступи до бази в коді. Копіювання скрипта для створення `.env` файлу сюди в ДЗ буде вважатись грубою помилкою і ми зніматимемо бали.

3. Налаштуйте підключення через SQLAlchemy до БД за прикладом в лекції.

Рекомендую вивести (відобразити) змінну engine після створення. Вона має бути не None! Якщо None - значить у Вас не підтягнулись налаштування з .env файла.

Ви також можете налаштувати параметри підключення до БД без .env файла, просто прописавши текстом в відповідних місцях. Це - не рекомендований підхід.


## Завдання

### Завдання 1: Оновлення інформації про клієнта (2 бали)

**Створіть функцію для оновлення контактної інформації клієнта за його номером** з наступними можливостями:
- Оновлення телефону клієнта
- Оновлення email (якщо поле існує в таблиці)

Опціонально, якщо вам хочеться більше практики:
- Логування змін в окрему таблицю

Використайте підхід з параметризованими запитами через `text()` та `UPDATE` оператор. Не забудьте на початку перевірити чи існує клієнт з таким номером в базі - це хороша практика.

Отримати всі колонки, які існують в таблиці ви можете наступним запитом
```
  SELECT COLUMN_NAME, DATA_TYPE
  FROM INFORMATION_SCHEMA.COLUMNS
  WHERE TABLE_NAME = 'customers'
```

Запустіть функцію і продемонструйте її роботу, запустивши SELECT, який допоможе це зробити.

In [1]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [2]:
def create_connection():
    """
    Створює підключення через SQLAlchemy
    """
    # Завантажуємо змінні середовища
    load_dotenv()

    # Отримуємо параметри з environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("Не всі параметри БД задані в .env файлі!")

    # Створюємо connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # Створюємо engine з connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # Розмір пулу підключень
        max_overflow=20,        # Максимальна кількість додаткових підключень
        pool_pre_ping=True,     # Перевірка підключення перед використанням
        echo=False              # Логування SQL запитів (True для debug)
    )

    # Тестуємо підключення
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("✅ Підключення до БД успішне!")
        print(f"🔗 {user}@{host}:{port}/{database}")
        print(f"⚡ Engine: {engine}")

        return engine

    except Exception as e:
        print(f"❌ Помилка підключення: {e}")
        return None

# Створюємо підключення
engine = create_connection()

✅ Підключення до БД успішне!
🔗 root@127.0.0.1:3307/classicmodels
⚡ Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3307/classicmodels)

In [3]:
with engine.begin() as conn:
    rows = conn.execute(text("""
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = 'customers'
        ORDER BY ordinal_position
    """)).all()
rows

[('customerNumber', 'int'),
 ('customerName', 'varchar'),
 ('contactLastName', 'varchar'),
 ('contactFirstName', 'varchar'),
 ('phone', 'varchar'),
 ('addressLine1', 'varchar'),
 ('addressLine2', 'varchar'),
 ('city', 'varchar'),
 ('state', 'varchar'),
 ('postalCode', 'varchar'),
 ('country', 'varchar'),
 ('salesRepEmployeeNumber', 'int'),
 ('creditLimit', 'decimal')]

In [18]:
def update_customer_contact(
    engine,
    customer_number: int,
    phone: str | None = None,
    email: str | None = None,
    log_changes: bool = True
) -> str:
 
    if phone is None and email is None:
        return "Нічого оновлювати: не передано phone/email."

    with engine.begin() as conn:

        exists = conn.execute(
            text("SELECT 1 FROM customers WHERE customerNumber = :cid LIMIT 1"),
            {"cid": customer_number}
        ).fetchone()
        if not exists:
            return f"Клієнта з номером {customer_number} не знайдено."


        set_parts = []
        params = {"cid": customer_number}

        if phone is not None:
            set_parts.append("phone = :phone")
            params["phone"] = phone

        email_col_present = _column_exists(conn, "customers", "email")
        if email is not None and email_col_present:
            set_parts.append("email = :email")
            params["email"] = email
            
        if email is not None and not email_col_present:
            return "Колонка email відсутня у таблиці, оновлення неможливе."


        if not set_parts:
            return "Немає полів для оновлення (ймовірно, колонка email відсутня)."


        upd_sql = text(f"UPDATE customers SET {', '.join(set_parts)} WHERE customerNumber = :cid")
        result = conn.execute(upd_sql, params)
        updated = result.rowcount

        return f"Оновлено рядків: {updated}"

In [21]:
cid = 103 
with engine.begin() as conn:
    print(conn.execute(
        text("SELECT customerNumber, customerName, phone FROM customers WHERE customerNumber = :cid"),
        {"cid": cid}
    ).mappings().all())


print(update_customer_contact(engine, customer_number=cid, phone="+380 44 123 45 67", email="test@example.com"))

[{'customerNumber': 103, 'customerName': 'Atelier graphique', 'phone': '+380 44 123 45 67'}]
Колонка email відсутня у таблиці, оновлення неможливе.

### Завдання 2: Створення нового замовлення з транзакцією (5 балів)

**Реалізуйте процес створення нового замовлення** з наступними кроками в одній транзакції:
- Створення запису в таблиці `orders`
- Додавання товарних позицій в `orderdetails`
- Перевірка наявності товарів на складі
- Зменшення кількості товарів на складі

Запустіть процес з тестовими даними і продемонструйте через SELECT, що процес успішно відпрацював і були виконані необхідні операції.

In [23]:
from datetime import date

def create_order_transaction(
    engine,
    customer_number: int,
    items: list[dict],
    order_date: date | None = None,
    required_date: date | None = None,
    comments: str | None = None,
    status: str = "In Process",
) -> int:
    
    if not items:
        raise ValueError("Список items порожній.")

    for i, it in enumerate(items, start=1):
        if not {"productCode", "quantityOrdered", "priceEach"} <= set(it):
            raise ValueError(f"Item #{i} має бути з ключами productCode, quantityOrdered, priceEach")
        if it["quantityOrdered"] <= 0 or it["priceEach"] <= 0:
            raise ValueError(f"Item #{i} має додатні quantityOrdered та priceEach")

    odt = order_date or date.today()
    rdt = required_date or odt

    with engine.begin() as conn:

        new_order_number = conn.execute(text("""
            SELECT COALESCE(MAX(orderNumber), 0) + 1 AS next_id
            FROM orders
            FOR UPDATE
        """)).scalar_one()


        conn.execute(text("""
            INSERT INTO orders
                (orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber)
            VALUES
                (:orderNumber, :orderDate, :requiredDate, NULL, :status, :comments, :customerNumber)
        """), {
            "orderNumber": new_order_number,
            "orderDate": odt,
            "requiredDate": rdt,
            "status": status,
            "comments": comments,
            "customerNumber": customer_number,
        })

        line_no = 0
        for it in items:
            code = it["productCode"]
            qty  = int(it["quantityOrdered"])
            price = float(it["priceEach"])

            row = conn.execute(text("""
                SELECT productCode, quantityInStock
                FROM products
                WHERE productCode = :code
                FOR UPDATE
            """), {"code": code}).mappings().first()

            if row is None:
                raise ValueError(f"Продукт {code} не знайдено.")

            if row["quantityInStock"] < qty:
                raise ValueError(
                    f"Недостатньо запасу для {code}: потрібно {qty}, на складі {row['quantityInStock']}"
                )

            conn.execute(text("""
                UPDATE products
                SET quantityInStock = quantityInStock - :qty
                WHERE productCode = :code
            """), {"qty": qty, "code": code})

            line_no += 1
            conn.execute(text("""
                INSERT INTO orderdetails
                    (orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber)
                VALUES
                    (:orderNumber, :productCode, :quantityOrdered, :priceEach, :orderLineNumber)
            """), {
                "orderNumber": new_order_number,
                "productCode": code,
                "quantityOrdered": qty,
                "priceEach": price,
                "orderLineNumber": line_no,
            })
        return new_order_number

In [24]:
test_items = [
    {"productCode": "S10_1678", "quantityOrdered": 3, "priceEach": 95.00},
    {"productCode": "S12_1108", "quantityOrdered": 2, "priceEach": 120.00},
]

new_ord = create_order_transaction(
    engine=engine,
    customer_number=103,
    items=test_items,
    comments="Test order via SQLAlchemy txn"
)
print("Створено orderNumber:", new_ord)

with engine.begin() as conn:
    print(conn.execute(text("""
        SELECT orderNumber, orderDate, status, customerNumber, comments
        FROM orders
        WHERE orderNumber = :n
    """), {"n": new_ord}).mappings().all())

with engine.begin() as conn:
    print(conn.execute(text("""
        SELECT orderNumber, productCode, quantityOrdered, priceEach, orderLineNumber
        FROM orderdetails
        WHERE orderNumber = :n
        ORDER BY orderLineNumber
    """), {"n": new_ord}).mappings().all())

codes = tuple(i["productCode"] for i in test_items)
placeholders = ",".join([f":c{i}" for i in range(len(codes))])
params = {f"c{i}": code for i, code in enumerate(codes)}

with engine.begin() as conn:
    print(conn.execute(text(f"""
        SELECT productCode, quantityInStock
        FROM products
        WHERE productCode IN ({placeholders})
        ORDER BY productCode
    """), params).mappings().all())

Створено orderNumber: 10426
[{'orderNumber': 10426, 'orderDate': datetime.date(2025, 9, 22), 'status': 'In Process', 'customerNumber': 103, 'comments': 'Test order via SQLAlchemy txn'}]
[{'orderNumber': 10426, 'productCode': 'S10_1678', 'quantityOrdered': 3, 'priceEach': Decimal('95.00'), 'orderLineNumber': 1}, {'orderNumber': 10426, 'productCode': 'S12_1108', 'quantityOrdered': 2, 'priceEach': Decimal('120.00'), 'orderLineNumber': 2}]
[{'productCode': 'S10_1678', 'quantityInStock': 7930}, {'productCode': 'S12_1108', 'quantityInStock': 3617}]