#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [9]:
import pandas as pd
df = pd.read_csv("C:/Users/Hanna/Desktop/DataLoves/data/supermarket_sales.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [10]:
df.groupby("Branch")["gross income"].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

–¢–∞–∫–∏–º —á–∏–Ω–æ–º, –Ω–∞–π–≤–∏—â–∏–π —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ (—Ö–æ—á —ñ –∑ –Ω–µ–≤–µ–ª–∏–∫–∏–º –≤—ñ–¥—Ä–∏–≤–æ–º –≤—ñ–¥ —Ñ—ñ–ª—ñ–∞–ª—É –í) –º–∞—î —Ñ—ñ–ª—ñ–∞–ª –ê.

In [14]:
df.groupby(["Branch", "City"])["gross income"].sum()

Branch  City
A       Yangon       5057.1605
B       Mandalay     5057.0320
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [20]:
invoices_by_category = df.pivot_table\
(index='Branch', columns='Product line', values='Invoice ID', aggfunc=pd.Series.nunique)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [23]:
invoices_by_category["Electronic accessories"].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ö—Ä–æ–∫ 1. –ü–∏—Ç–∞–Ω–Ω—è
1. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ –∫–æ–∂–Ω–æ–º—É —ñ–∑ –º—ñ—Å—Ç –ø—Ä–∏–Ω–æ—Å—è—Ç—å –Ω–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫?
2. –Ø–∫—É —á–∞—Å—Ç–∫—É –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É –º—ñ—Å—Ç–∞ —Ñ–æ—Ä–º—É—é—Ç—å –ø–æ–∫—É–ø—Ü—ñ-–∂—ñ–Ω–∫–∏ —Ç–∞ –ø–æ–∫—É–ø—Ü—ñ-—á–æ–ª–æ–≤—ñ–∫–∏ —É –∫–æ–∂–Ω–æ–º—É –∑ –º—ñ—Å—Ç?
3. –Ø–∫—É —á–∞—Å—Ç–∫—É –º—ñ—Å—å–∫–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É (gross income) —Ñ–æ—Ä–º—É—é—Ç—å –∫–ª—ñ—î–Ω—Ç–∏ Member —ñ Normal —É –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ?

In [36]:
#–ö—Ä–æ–∫ 2
#–ü–∏—Ç–∞–Ω–Ω—è 1: –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ –∫–æ–∂–Ω–æ–º—É —ñ–∑ –º—ñ—Å—Ç –¥–∞—é—Ç—å –Ω–∞–π–≤–∏—â–∏–π % –ø—Ä–∏–±—É—Ç–∫—É?
#–ü—Ä–∏–±—É—Ç–æ–∫ –ø–æ City √ó Product line
profit = pd.pivot_table(df, index='City', columns='Product line', values="gross income", aggfunc="sum")
profit

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
City,,,,,,
Mandalay,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
Naypyitaw,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680
Yangon,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095

In [40]:
#–≤–∏–∑–Ω–∞—á–∞—é totals –ø–æ –º—ñ—Å—Ç–∞—Ö
import numpy as np
row_totals = profit.sum(axis=1).replace(0, np.nan)
row_totals

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
dtype: float64

In [57]:
#–ø–µ—Ä–µ–≤–æ–¥–∂—É —É –≤—ñ–¥—Å–æ—Ç–∫–∏
profit_pct = profit.div(row_totals, axis=0).mul(100).round(2).fillna(0)
profit_pct
display(profit_pct.style.format('{:.2f}%').highlight_max(axis=1, color='#C6F6D5')
        .highlight_min(axis=1, color='#FECACA'))
#–≤–∏–≤–æ–¥–∂—É —É –∫—Ä–∞—Å–∏–≤–æ–º—É —Ñ–æ—Ä–º–∞—Ç—É–≤–∞–Ω–Ω—ñ —ñ –ø—ñ–¥—Å–≤—ñ—á—É—é –Ω–∞–π–≤–∏—â—ñ —Ç–∞ –Ω–∞–π–Ω–∏–∂—á—ñ –∑–Ω–∞—á–µ–Ω–Ω—è, –¥—É–∂–µ —Å–ø–æ–¥–æ–±–∞–≤—Å—è —Ü–µ–π —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª, 
#—Ö–æ—á —ñ –Ω–µ —Ä–æ–∑–±–∏—Ä–∞–ª–∏ –≤ —É—Ä–æ–∫–∞—Ö, —á–∞—Ç –ø—ñ–¥–∫–∞–∑–∞–≤)

–û—Å–∫—ñ–ª—å–∫–∏ —É Mandalay —Ç–æ–ø –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ü–µ —Å–ø–æ—Ä—Ç —ñ –ø–æ–¥–æ—Ä–æ–∂—ñ, –≤ Yangon - –¥—ñ–º —Ç–∞ —Å–ø–æ—Å—ñ–± –∂–∏—Ç—Ç—è, –∞ —É Naypyitaw - –ø—Ä–æ–¥–æ–≤–æ–ª—å—á—ñ —Ç–æ–≤–∞—Ä–∏, —Ç–æ –º–µ–Ω—ñ —Å—Ç–∞–ª–æ —Ü—ñ–∫–∞–≤–æ —á–∏ –Ω–µ –ø–æ–≤'—è–∑–∞–Ω–æ —Ü–µ –∑ –≥–µ–Ω–¥–µ—Ä–Ω–∏–º —Å–∫–ª–∞–¥–æ–º –ø–æ–∫—É–ø—Ü—ñ–≤. –í–∏—Ä—ñ—à–∏–ª–∞ –∑—Ä–æ–±–∏—Ç–∏ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è–º 2.
–ü–∏—Ç–∞–Ω–Ω—è 2: –Ø–∫—É —á–∞—Å—Ç–∫—É –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É –º—ñ—Å—Ç–∞ —Ñ–æ—Ä–º—É—é—Ç—å –ø–æ–∫—É–ø—Ü—ñ-–∂—ñ–Ω–∫–∏ —Ç–∞ –ø–æ–∫—É–ø—Ü—ñ-—á–æ–ª–æ–≤—ñ–∫–∏ —É –∫–æ–∂–Ω–æ–º—É –∑ –º—ñ—Å—Ç?

In [60]:
profit_gender = df.pivot_table(index='City', columns='Gender', values='gross income', aggfunc='sum')
profit_gender

Gender       Female       Male
City
Mandalay   2520.395  2536.6370
Naypyitaw  2937.403  2327.7735
Yangon     2536.627  2520.5335

In [61]:
#–≤–∏–∑–Ω–∞—á–∞—é totals –ø–æ –º—ñ—Å—Ç–∞—Ö
gender_totals = profit_gender.sum(axis=1).replace(0, np.nan)
gender_totals

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
dtype: float64

In [63]:
#–ø–µ—Ä–µ–≤–æ–¥–∂—É —É –≤—ñ–¥—Å–æ—Ç–∫–∏
profit_gender_pct = profit_gender.div(gender_totals, axis=0).mul(100).round(2).fillna(0)
display(profit_gender_pct.style.format('{:.2f}%').highlight_max(axis=1, color='#C6F6D5')
        .highlight_min(axis=1, color='#FECACA'))

–ó –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö –¥–∞–Ω–∏—Ö —è –Ω–µ –±–∞—á—É –∂–æ–¥–Ω–∏—Ö –∑–Ω–∞—á–∏–º–∏—Ö –≥–µ–Ω–¥–µ—Ä–Ω–∏—Ö —Ä—ñ–∑–Ω–∏—Ü—å, —Ç–æ–º—É –º–æ—è –≥—ñ–ø–æ—Ç–µ–∑–∞ –Ω–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂—É—î—Ç—å—Å—è. –í–∏—Ä—ñ—à–∏–ª–∞ –Ω–∞—Å—Ç—É–ø–Ω–∏–º –∫—Ä–æ–∫–æ–º –≤—ñ–¥–ø–æ–≤—ñ—Å—Ç–∏ –Ω–∞ –ø–∏—Ç–∞–Ω–Ω—è Member vs Normal: —Ö—Ç–æ –∫—É–ø—É—î —á–∞—Å—Ç—ñ—à–µ –ø–æ –∫–æ–∂–Ω–æ–º—É —ñ–∑ –º—ñ—Å—Ç?

In [67]:
inv_count_cust_type = df.pivot_table(index='City',\
                                     columns='Customer type', values='Invoice ID', aggfunc=pd.Series.nunique)
inv_count_cust_type

Customer type  Member  Normal
City
Mandalay          165     167
Naypyitaw         169     159
Yangon            167     173

–ó–Ω–∞—á–Ω–æ—ó —Ä—ñ–∑–Ω–∏—Ü—ñ –º—ñ–∂ —Ç–∏–ø–æ–º –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤ –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ –Ω–µ –±–∞—á—É, —Ç–æ–º—É –ø—Ä–æ–¥–æ–≤–∂—É—é –∞–Ω–∞–ª—ñ–∑ –¥–∞–ª—ñ —ñ —à—É–∫–∞—é –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ –∑–∞–ø–∏—Ç–∞–Ω–Ω—è –Ø–∫—É —á–∞—Å—Ç–∫—É –ø—Ä–∏–±—É—Ç–∫—É —Ñ–æ—Ä–º—É—é—Ç—å –∫–ª—ñ—î–Ω—Ç–∏ Member —ñ Normal —É –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ?

In [69]:
profit_cust_type = df.pivot_table(index='City', columns='Customer type',
                                 values='gross income', aggfunc='sum')
profit_cust_type

Customer type     Member    Normal
City
Mandalay       2557.3660  2499.666
Naypyitaw      2708.6325  2556.544
Yangon         2554.1655  2502.995

In [70]:
profit_totals_cust_type = profit_custtype.sum(axis=1).replace(0, np.nan)
profit_totals_cust_type

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
dtype: float64

In [72]:
profit_cust_type_pct = (profit_cust_type.div(profit_totals_cust_type, axis=0)
                       * 100).round(2).fillna(0)
display(profit_cust_type_pct.style.format('{:.2f}%').highlight_max(axis=1, color='#C6F6D5')
        .highlight_min(axis=1, color='#FECACA'))

In [ ]:
–¢–∞–∫–∏–º —á–∏–Ω–æ–º, –∑–Ω–∞—á–∏–º–æ—ó —Ä—ñ–∑–Ω–∏—Ü—ñ –º—ñ–∂ —á–∞—Å—Ç–∫–æ—é –ø—Ä–∏–±—É—Ç–∫—É –ø–æ –º—ñ—Å—Ç—É, —è–∫—É —Ñ–æ—Ä–º—É—é—Ç—å –∫–ª—ñ—î–Ω—Ç–∏ Member —ñ Normal –º–∏ –Ω–µ –±–∞—á–∏–º–æ.

–ö—Ä–æ–∫ 3. –í–∏—Å–Ω–æ–≤–∫–∏ —Ç–∞ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.
–ü–∏—Ç–∞–Ω–Ω—è 1: –ü—Ä–æ–≤–µ–¥–µ–Ω–∏–π –∞–Ω–∞–ª—ñ–∑ –≤–∏—è–≤–∏–≤, —â–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –ø—Ä–∏–±—É—Ç–∫—É —Å–∏–ª—å–Ω–æ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –º—ñ–∂ –º—ñ—Å—Ç–∞–º–∏: —É Naypyitaw –¥–æ–º—ñ–Ω—É—é—Ç—å –ø—Ä–æ–¥—É–∫—Ç–∏ —Ö–∞—Ä—á—É–≤–∞–Ω–Ω—è, —É Yangon ‚Äî —Ç–æ–≤–∞—Ä–∏ –¥–ª—è –¥–æ–º—É, —É Mandalay ‚Äî —Å–ø–æ—Ä—Ç/–ø–æ–¥–æ—Ä–æ–∂—ñ —Ç–∞ –∑–¥–æ—Ä–æ–≤'—è/–±‚Äô—é—Ç—ñ. Electronic accessories —Å—Ç–∞–±—ñ–ª—å–Ω–æ —Ç—Ä–∏–º–∞—é—Ç—å—Å—è –±–ª–∏–∑—å–∫–æ ~17% —É –≤—Å—ñ—Ö –º—ñ—Å—Ç–∞—Ö ‚Äî ¬´—è–∫—ñ—Ä–Ω–∞¬ª –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –±–µ–∑ —Ä—ñ–∑–∫–∏—Ö –∫–æ–ª–∏–≤–∞–Ω—å.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –Ω–∞ –æ—Å–Ω–æ–≤—ñ –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö –¥–∞–Ω–∏—Ö:
- –ü—ñ–¥—Å–∏–ª—é–≤–∞—Ç–∏ –ª—ñ–¥–µ—Ä—Å—å–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ (–∑–∞–ø–∞—Å–∏, –≤–∏–∫–ª–∞–¥–∫–∞, –±–∞–Ω–¥–ª–∏).
- –î–ª—è ¬´–∞–Ω—Ç–∏-—Ç–æ–ø—ñ–≤¬ª ‚Äî —Ç–æ—á–∫–æ–≤—ñ –ø—Ä–æ–º–æ –∞–±–æ –ø–µ—Ä–µ–≥–ª—è–¥ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç—É/—Ü—ñ–Ω.

–ü–∏—Ç–∞–Ω–Ω—è 2: –ì–µ–Ω–¥–µ—Ä–Ω–∞ —á–∞—Å—Ç–∫–∞ –ø—Ä–∏–±—É—Ç–∫—É –ø–æ –º—ñ—Å—Ç–∞—Ö –∑–Ω–∞—á–∏–º–æ –Ω–µ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è, —Ç–æ–º—É –ø–æ—Ç—Ä–µ–±–∏ —É —Ç–µ—Å—Ç—É–≤–∞–Ω–Ω—ñ –ø—Ä–æ–º–æ/–≤—ñ—Ç—Ä–∏–Ω–∏ –ø—ñ–¥ –∂—ñ–Ω–æ—á—É —á–∏ —á–æ–ª–æ–≤—ñ—á—É –∞—É–¥–∏—Ç–æ—Ä—ñ—é –Ω–µ–º–∞—î.

–ü–∏—Ç–∞–Ω–Ω—è 3: –û—Å–∫—ñ–ª—å–∫–∏ –∞–Ω–∞–ª—ñ–∑, —è–∫ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫, —Ç–∞–∫ —ñ —á–∞—Å—Ç–∫–∏ –ø—Ä–∏–±—É—Ç–∫—É, —â–æ —Ñ–æ—Ä–º—É—é—Ç—å –∫–ª—ñ—î–Ω—Ç–∏ Member —ñ Normal —É –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ –Ω–µ –≤–∏—è–≤–∏–≤–∏–≤ –∑–Ω–∞—á–Ω–æ—ó —Ä—ñ–∑–Ω–∏—Ü—ñ, –º–æ–∂–Ω–∞ –≥–æ–≤–æ—Ä–∏—Ç–∏ –ø—Ä–æ —Ç–µ, —â–æ –≤–ø–ª–∏–≤ –ü—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –Ω–∞ –ø—Ä–∏–±—É—Ç–æ–∫ –Ω–∞—Ä–∞–∑—ñ –Ω–µ–π—Ç—Ä–∞–ª—å–Ω–∏–π, –æ—Ç–∂–µ –ø—Ä–æ–≥—Ä–∞–º–∞ –Ω–µ–¥–æ–∞–∫—Ç–∏–≤–æ–≤–∞–Ω–∞ –∑ —Ç–æ—á–∫–∏ –∑–æ—Ä—É –±—ñ–∑–Ω–µ—Å-—Ü—ñ–Ω–Ω–æ—Å—Ç—ñ.
–©–æ –º–æ–∂–Ω–∞ —Ä–µ–∫–æ–º–µ–Ω–¥—É–≤–∞—Ç–∏:
–ü—ñ–¥–≤–∏—â–∏—Ç–∏ –∑–∞–ª—É—á–µ–Ω–Ω—è –ø–æ–∫—É–ø—Ü—ñ–≤ –¥–æ –ø—Ä–æ–≥—Ä–∞–º–∏: –±–æ–Ω—É—Å –∑–∞ –ø–µ—Ä—à—É –ø–æ–∫—É–ø–∫—É –ø—Ä–∏ —Ä–µ—î—Å—Ç—Ä–∞—Ü—ñ—ó, –ø—Ä–æ—Å—Ç–∞ —Ä–µ—î—Å—Ç—Ä–∞—Ü—ñ—è –Ω–∞ –∫–∞—Å—ñ/–≤ –¥–æ–¥–∞—Ç–∫—É.
–ó–±—ñ–ª—å—à–µ–Ω–Ω—è —á–µ–∫–∞: member-only –±–∞–Ω–¥–ª–∏ –≤ –ª—ñ–¥–µ—Ä-–∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö –º—ñ—Å—Ç–∞ (–¥–∏–≤. –≤–∏—â–µ), –ø–æ—Ä–æ–≥–æ–≤—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó (‚ÄìX% –≤—ñ–¥ —Å—É–º–∏ N), ¬´2√ó –±–∞–ª–∏¬ª —É —Ç–æ–ø-–∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö –∫–æ–∂–Ω–æ–≥–æ –º—ñ—Å—Ç–∞.
–ó–±—ñ–ª—å—à–µ–Ω–Ω—è —á–∞—Å—Ç–æ—Ç–∏: –ø–æ–¥–≤—ñ–π–Ω—ñ –±–∞–ª–∏ –≤ ¬´—Ç–∏—Ö—ñ¬ª –¥–Ω—ñ/–≥–æ–¥–∏–Ω–∏, –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ñ –∫—É–ø–æ–Ω–∏ –¥–ª—è –ø–æ–≤–µ—Ä–Ω–µ–Ω–Ω—è –≤–ø—Ä–æ–¥–æ–≤–∂ 7‚Äì10 –¥–Ω—ñ–≤.
–û–ø–µ—Ä–∞—Ü—ñ–π–Ω–æ: –ø–æ–ø—Ä–æ—Å–∏—Ç–∏ –∫–∞—Å–∏—Ä—ñ–≤ –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —Ä–µ—î—Å—Ç—Ä–∞—Ü—ñ—é –∫–æ–∂–Ω–æ–º—É –Ω–æ–≤–æ–º—É –∫–ª—ñ—î–Ω—Ç—É; –∫–æ—Ä–æ—Ç–∫–∏–π —Å–∫—Ä–∏–ø—Ç + –º–æ—Ç–∏–≤–∞—Ü—ñ—è.