#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [9]:
import pandas as pd
df = pd.read_csv("C:/Users/Hanna/Desktop/DataLoves/data/supermarket_sales.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [10]:
df.groupby("Branch")["gross income"].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

Таким чином, найвищий сумарний прибуток (хоч і з невеликим відривом від філіалу В) має філіал А.

In [14]:
df.groupby(["Branch", "City"])["gross income"].sum()

Branch  City
A       Yangon       5057.1605
B       Mandalay     5057.0320
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [20]:
invoices_by_category = df.pivot_table\
(index='Branch', columns='Product line', values='Invoice ID', aggfunc=pd.Series.nunique)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [23]:
invoices_by_category["Electronic accessories"].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Крок 1. Питання
1. Які категорії товарів по кожному із міст приносять найвищий прибуток?
2. Яку частку від загального прибутку міста формують покупці-жінки та покупці-чоловіки у кожному з міст?
3. Яку частку міського прибутку (gross income) формують клієнти Member і Normal у кожному місті?

In [36]:
#Крок 2
#Питання 1: Які категорії товарів по кожному із міст дають найвищий % прибутку?
#Прибуток по City × Product line
profit = pd.pivot_table(df, index='City', columns='Product line', values="gross income", aggfunc="sum")
profit

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
City,,,,,,
Mandalay,811.9735,781.5865,724.5185,951.460,835.6745,951.8190
Naypyitaw,903.2845,1026.6700,1131.7550,791.206,661.6930,750.5680
Yangon,872.2435,777.7385,817.2905,599.893,1067.4855,922.5095

In [40]:
#визначаю totals по містах
import numpy as np
row_totals = profit.sum(axis=1).replace(0, np.nan)
row_totals

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
dtype: float64

In [57]:
#переводжу у відсотки
profit_pct = profit.div(row_totals, axis=0).mul(100).round(2).fillna(0)
profit_pct
display(profit_pct.style.format('{:.2f}%').highlight_max(axis=1, color='#C6F6D5')
        .highlight_min(axis=1, color='#FECACA'))
#виводжу у красивому форматуванні і підсвічую найвищі та найнижчі значення, дуже сподобався цей функціонал, 
#хоч і не розбирали в уроках, чат підказав)

Оскільки у Mandalay топ категорія це спорт і подорожі, в Yangon - дім та спосіб життя, а у Naypyitaw - продовольчі товари, то мені стало цікаво чи не пов'язано це з гендерним складом покупців. Вирішила зробити це питанням 2.
Питання 2: Яку частку від загального прибутку міста формують покупці-жінки та покупці-чоловіки у кожному з міст?

In [60]:
profit_gender = df.pivot_table(index='City', columns='Gender', values='gross income', aggfunc='sum')
profit_gender

Gender       Female       Male
City
Mandalay   2520.395  2536.6370
Naypyitaw  2937.403  2327.7735
Yangon     2536.627  2520.5335

In [61]:
#визначаю totals по містах
gender_totals = profit_gender.sum(axis=1).replace(0, np.nan)
gender_totals

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
dtype: float64

In [63]:
#переводжу у відсотки
profit_gender_pct = profit_gender.div(gender_totals, axis=0).mul(100).round(2).fillna(0)
display(profit_gender_pct.style.format('{:.2f}%').highlight_max(axis=1, color='#C6F6D5')
        .highlight_min(axis=1, color='#FECACA'))

З отриманих даних я не бачу жодних значимих гендерних різниць, тому моя гіпотеза не підтверджується. Вирішила наступним кроком відповісти на питання Member vs Normal: хто купує частіше по кожному із міст?

In [67]:
inv_count_cust_type = df.pivot_table(index='City',\
                                     columns='Customer type', values='Invoice ID', aggfunc=pd.Series.nunique)
inv_count_cust_type

Customer type  Member  Normal
City
Mandalay          165     167
Naypyitaw         169     159
Yangon            167     173

Значної різниці між типом користувачів за кількістю покупок не бачу, тому продовжую аналіз далі і шукаю відповідь на запитання Яку частку прибутку формують клієнти Member і Normal у кожному місті?

In [69]:
profit_cust_type = df.pivot_table(index='City', columns='Customer type',
                                 values='gross income', aggfunc='sum')
profit_cust_type

Customer type     Member    Normal
City
Mandalay       2557.3660  2499.666
Naypyitaw      2708.6325  2556.544
Yangon         2554.1655  2502.995

In [70]:
profit_totals_cust_type = profit_custtype.sum(axis=1).replace(0, np.nan)
profit_totals_cust_type

City
Mandalay     5057.0320
Naypyitaw    5265.1765
Yangon       5057.1605
dtype: float64

In [72]:
profit_cust_type_pct = (profit_cust_type.div(profit_totals_cust_type, axis=0)
                       * 100).round(2).fillna(0)
display(profit_cust_type_pct.style.format('{:.2f}%').highlight_max(axis=1, color='#C6F6D5')
        .highlight_min(axis=1, color='#FECACA'))

In [ ]:
Таким чином, значимої різниці між часткою прибутку по місту, яку формують клієнти Member і Normal ми не бачимо.

Крок 3. Висновки та рекомендації для прийняття бізнес рішень.
Питання 1: Проведений аналіз виявив, що структура прибутку сильно відрізняється між містами: у Naypyitaw домінують продукти харчування, у Yangon — товари для дому, у Mandalay — спорт/подорожі та здоров'я/б’юті. Electronic accessories стабільно тримаються близько ~17% у всіх містах — «якірна» категорія без різких коливань.
Рекомендації на основі отриманих даних:
- Підсилювати лідерські категорії в кожному місті (запаси, викладка, бандли).
- Для «анти-топів» — точкові промо або перегляд асортименту/цін.

Питання 2: Гендерна частка прибутку по містах значимо не відрізняється, тому потреби у тестуванні промо/вітрини під жіночу чи чоловічу аудиторію немає.

Питання 3: Оскільки аналіз, як кількості покупок, так і частки прибутку, що формують клієнти Member і Normal у кожному місті не виявивив значної різниці, можна говорити про те, що вплив Програми лояльності на прибуток наразі нейтральний, отже програма недоактивована з точки зору бізнес-цінності.
Що можна рекомендувати:
Підвищити залучення покупців до програми: бонус за першу покупку при реєстрації, проста реєстрація на касі/в додатку.
Збільшення чека: member-only бандли в лідер-категоріях міста (див. вище), порогові пропозиції (–X% від суми N), «2× бали» у топ-категоріях кожного міста.
Збільшення частоти: подвійні бали в «тихі» дні/години, персональні купони для повернення впродовж 7–10 днів.
Операційно: попросити касирів пропонувати реєстрацію кожному новому клієнту; короткий скрипт + мотивація.